@import 'typography';
@import './fonts/roboto.scss';

$main-font-color: #73787d;
$main-bg-color: #f4f4f4;
$accent-orange: #D75C37;

body {
  background-image: url('../media/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $main-font-color;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 5%;

  a:hover {
      color: $accent-orange !important;
  }
}

.nav-exterior {
  position: fixed;
  z-index: 1000;
  -webkit-box-pack: center;
  justify-content: center;
  background: hsla(0, 0%, 100%, 0.90);
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  border-bottom: 3px solid $accent-orange;
  align-items: center;
  flex-flow: row;
  display: flex;

  .nav-interior {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 880px;
    max-width: 880px;

    @media screen and (max-width: 930px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    .nav-link {
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      text-decoration: none;

      #nav-link-router {
        display: flex;
        text-decoration: none;
        color: inherit;
        align-items: center;
      }

      #nav-name {
        font-size: 2em;
      }

      #nav-title {
        padding-left: 25px;
        text-transform: lowercase;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }

    .nav-links {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;

      a, a:visited {
        color: inherit;
        margin-left: 12px;
        text-decoration: none;
      }
    }
  }
}

.view-container {
  margin-top: 125px;
  background-color: hsla(0, 0%, 100%, 0.80);
  padding: 30px;
}

.projects-container {
  .project {
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .project-title {
    p {
      text-align: justify;
    }

    .project-home-intro {
      font-size: 0.9em;
      text-align: justify;
      padding-left: 3em;
      padding-right: 3em;
    }

    #port-source {
      text-align: center;
    }

  }

  .project-bullets {
    text-align: left;
    font-size: 0.7em;
    padding-left: 3em;
    padding-right: 3em;
  }

  .project-tech {
    font-size: 0.9em;
    padding-bottom: 1em;
  }

  em {
    font-size: 0.8em;
  }

  .project-row {

    img {
      -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
      -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
      box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
    }

    .project-slider {
      box-shadow: inset 0px 7px 4px -3px rgba(50, 50, 50, 0.25);
    }

    .project-name {
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2rem;
      text-align: center;
      vertical-align: center;
    }
  }
}

.about-container {
  a {
    text-decoration: none;
    color: $main-font-color;
  }

  .about-icons {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;

    @media screen and (max-width: 930px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }


  }

  i {
    padding-right: 1em;
  }
}

.question {
  padding-bottom: 2rem;

  .question-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 1rem;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .question-response {
    text-align: justify;

    @media screen and (max-width: 600px) {
      font-size: 1.3rem;
    }
  }
}
