@import 'typography';

body {
  background-color: white;
  margin: 0;
  margin-bottom: 5%;
}

.main-header {
  margin-bottom: 5em;
}

.project {
  background-color: #999;
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-row {
  img {
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.55);
  }
}

.about-container {
  padding-top: 5rem;
}

.question {
  padding-bottom: 2rem;

  .question-title {
    padding-bottom: 1rem;
  }

  .question-response {
    text-align: justify;
  }
}

.title-description {
  background-color: #67727A;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-header {
  background-color: #C3D7DF;
  top: 0%;
  left: 0%;
  width: 100%;
}

.menu-item {
  a {
    color: #C3D7DF;
  }
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header-separator {
  background-color: #D75C37;
  height: 5px;
}

.title-name {
  color: #466675;
  text-align: center;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.video-wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
